SECRET_KEY = 'django-insecure-YOUR-KEY-HERE'
DEBUG = True #OR FALSE
ALLOWED_HOSTS = ['127.0.0.1'] #IP FOR ALLOWED HOSTS
STATIC_ROOT = 'PATH-TO-STATIC_ROOT-FOLDER'
MEDIA_ROOT = 'PATH-TO-MEDIA_ROOT-FOLDER'
